<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<property name="logsPath" value="${catalina.base}/logs" />

	<property name="defaultPattern" value="%date{HH:mm:ss.SSS} [%thread] %-5level %mdc{username} %logger - %message%n" />

	<!-- increases performances for jul -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>

	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logsPath}/ecandidat.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${logsPath}/ecandidat-%d.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- deletes older files -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>

	<!-- Regroupe les mails d'erreur pour éviter le spam -->
	<appender name="mailAppender" class="fr.univlorraine.tools.logback.GroupEventsSMTPAppender">
		<!-- Délai des mails en secondes (1 par défaut) -->
		<mailDelaySeconds>10</mailDelaySeconds>
		
		<if condition="Boolean.valueOf(p(&quot;context.enableTestMode&quot;))">
			<then>	
				<smtpPort>1025</smtpPort>
				<smtpHost>smtp-test.sig.univ-lorraine.fr</smtpHost>			
			</then>
			<else>				
				<smtpHost>${context.mail.smtpHost}</smtpHost>
			</else>
		</if>
		<from>${context.mail.from}</from>
		<to>${context.mail.to}</to>
		<subject>[ecandidat] Logback Message from ${context.app.url}</subject>
		<asynchronousSending>false</asynchronousSending>

		<layout class="ch.qos.logback.classic.html.HTMLLayout" />
	</appender>

	<if condition="Boolean.valueOf(p(&quot;context.productionMode&quot;))">
		<then>
			<!-- in production mode -->
			<logger name="fr.univlorraine.ecandidat" level="info" />
		</then>
		<else>
			<if condition="Boolean.valueOf(p(&quot;context.disableDebugModeAvance&quot;))">
				<then>
					<!-- in debugModeAvance mode -->
					<logger name="fr.univlorraine.ecandidat" level="debug" />					
				</then>
				<else>				
					<!-- in other mode -->
					<logger name="fr.univlorraine.ecandidat" level="trace" />
				</else>
			</if>
		</else>
	</if>

	<logger name="org.springframework" level="warn" />

	<logger name="net.sf.jasperreports" level="warn" />

	<logger name="com.vaadin" level="warn" />
	
	<!-- Ne mail pas les erreurs push -->
	<logger name="com.vaadin.server.DefaultErrorHandler" level="warn" additivity="false" >
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</logger>
	<logger name="com.vaadin.server.communication.PushHandler" level="warn" additivity="false" >
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</logger>
	<logger name="org.apache.catalina.core.ContainerBase" level="warn" additivity="false" >
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</logger>
	<logger name="org.apache.catalina.session.StandardManager" level="warn" additivity="false" >
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</logger>
	<!-- -->

	<!--<logger name="org.springframework.security" level="trace" />-->
	<!-- <logger name="fr.univlorraine.tools.atmosphere.RecoverSecurityContextAtmosphereInterceptor" level="trace" /> -->
	<logger name="com.vaadin.spring.server.SpringUIProvider" level="error" />
	<logger name="com.vaadin.ui.UI" level="error" />
	<logger name="org.atmosphere" level="off" />
	<logger name="org.flywaydb.core.Flyway" level="info" />

	<root level="warn">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
		<appender-ref ref="mailAppender" />
	</root>

</configuration>
